@import url('https://fonts.googleapis.com/css2? family= Open+Sans & display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu{
    list-style: none;
    padding: 0;
    background-color: rgb(36, 32, 32);
    color: aliceblue;
}

#menu li{
    display: inline;
    color:aliceblue;
    display: inline;
}
#menu li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    display: inline-block;

}
#menu li a:hover{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    background-color: rgba(30, 255, 0, 0.852);
    transition: background .4s

}

#menu-coin{
    list-style: none;
    padding: 20;
    background-color: rgb(36, 32, 32);
    color: aliceblue;
    text-align: left;
};

#menu-coin li{
    display: inline;
    display: inline-block;
    padding: none;
    text-align: left;
}
#menu-coin li a{
    color:aliceblue;
    text-decoration: auto;
    padding: 10px;
    display: inline-block;   
}
#menu-coin li a:hover{
    color:aliceblue;
    text-decoration: none;
    background-color:rgb(9, 255, 0);
    padding: none;
    text-align: left;
    transition: background .4s;   
}

#dolar{
    text-align: center;
    background-color: rgb(36, 32, 32);
    color: aliceblue;
}
#dolar li{
    display: inline-block;
    padding: 10px;
}

#dolar li:hover:last-child{
    background-color: rgb(52, 225, 21);
    transition: background .4s;
}

#menor:hover{
    background-color: rgb(255, 0, 0);
    transition: background .4s;
}

#dolar li:first-child{
    background-color: rgb(80, 83, 80);
    
}

#input{
    width: 300px; 
    margin-left:auto;
    margin-right: auto;
}